.container {
  padding-top: 1rem;
}
.centerAligned {
  text-align: center;
}
.error span {
  font-size: 0.8rem;
}
.mainEmoji {
  font-size: 8rem;
  margin: 4rem 1rem;
}
.hrefTag {
  color: #4183c4;
  cursor: pointer;
}
.sideBarMenu.menu {
  top: 66.41px;
  box-shadow: none !important;
  height: calc(100% - 66.41px) !important;
}
.container_ {
  margin: 65px auto 0 auto;
  width: calc(100% - 325px);
}
.topMenu.menu {
  box-shadow: none !important;
}
.blogWriteForm .error.field .field {
  margin-bottom: 0;
}
.headerWrapper .left.floated.header {
  margin-bottom: 0;
}
.headerWrapper .right.floated.buttons {
  margin-top: 0.2rem;
}
.headerWrapper {
  position: relative;
  overflow: hidden;
}
.modal .scrolling.content {
  white-space: pre-line;
}
.ui.dimmer {
  background-color: #262626;
}
.whiteIcon {
  color: white !important;
  opacity: 1 !important;
}
@media screen and (max-width: 480px) {
  .container_ {
    margin: 65px auto 0 auto;
    width: calc(100% - 3rem);
  }
  .container_ .cards .card {
    width: 100%;
    margin: 0.5rem auto;
  }
}

@media only screen and (max-width: 1080px) {
  .whiteIcon {
    color: black !important;
    opacity: 1 !important;
  }  
}
